feat: Implement `SPECIAL-USE`.

See https://www.rfc-editor.org/rfc/rfc6154

```abnf
; Extends "create-param" from RFC 4466 [RFC4466]
create-param   =/  "USE" SP "(" [use-attr *(SP use-attr)] ")"

; Extends "mbx-list-oflag" from IMAP base [RFC3501]
mbx-list-oflag =/  use-attr

; Extends "list-select-independent-opt" from LIST-extended [RFC5258].
list-select-independent-opt =/  "SPECIAL-USE"

; Extends "return-option" from LIST-extended [RFC5258].
return-option =/ "SPECIAL-USE"

; Extends "resp-text-code" from IMAP [RFC3501].
resp-text-code =/  "USEATTR"

use-attr        =  "\All" /
                   "\Archive" /
                   "\Drafts" /
                   "\Flagged" /
                   "\Junk" /
                   "\Sent" /
                   "\Trash" /
                   use-attr-ext

; Reserved for future extensions.  Clients MUST ignore list attributes they do not understand.
; Server implementations MUST NOT generate extension attributes except as defined by future Standards-Track revisions of or extensions to this specification.
use-attr-ext    =  "\" atom
```