feat: Implement `CONDSTORE` and `QRESYNC`.

### Context

* https://www.rfc-editor.org/rfc/rfc7162
* #221
* #629
* #631
* #417
* #439

---

### TODO

* [ ] #632
* [ ] #633

---

### ABNF

* [x] Core

```abnf
mod-sequence-valzer = "0" / mod-sequence-value

mod-sequence-value  = 1*DIGIT
                       ;; Positive unsigned 63-bit integer
                       ;; (mod-sequence)
                       ;; (1 <= n <= 9,223,372,036,854,775,807).
```

- [x] Capability

```abnf
capability          =/ "CONDSTORE" / "QRESYNC"
```

* [x] Code

```abnf
resp-text-code      =/ "HIGHESTMODSEQ" SP mod-sequence-value /
                       "NOMODSEQ" /
                       "MODIFIED" SP sequence-set
		       ;; Errata (?) * in sequence-set is not allowed.

resp-text-code      =/ "CLOSED"
```

* [x] Status Attributes

```abnf
status-att          =/ "HIGHESTMODSEQ"
                       ;; Extends non-terminal defined in [RFC3501].

status-att-val      =/ "HIGHESTMODSEQ" SP mod-sequence-valzer
                       ;; Extends non-terminal defined in [RFC4466].
                       ;; Value 0 denotes that the mailbox doesn't
                       ;; support persistent mod-sequences
                       ;; as described in Section 3.1.2.2.
```

* [x] Modifier (Store)

```abnf
store-modifier      =/ "UNCHANGEDSINCE" SP mod-sequence-valzer
                       ;; Only a single "UNCHANGEDSINCE" may be
                       ;; specified in a STORE operation.
```

* [x] Modifier (Fetch)

```abnf
fetch-modifier      =/ chgsince-fetch-mod
                       ;; Conforms to the generic "fetch-modifier"
                       ;; syntax defined in [RFC4466].
                       ;; TODO: Submit errata? Add rexpunges-fetch-mod?

chgsince-fetch-mod  = "CHANGEDSINCE" SP mod-sequence-value
                       ;; CHANGEDSINCE FETCH modifier conforms to
                       ;; the fetch-modifier syntax.

rexpunges-fetch-mod =  "VANISHED"
                    ;; VANISHED UID FETCH modifier conforms
                    ;; to the fetch-modifier syntax
                    ;; defined in [RFC4466].  It is only
                    ;; allowed in the UID FETCH command.
```

* [x] Modifier (Select)

```abnf
select-param        =/ condstore-param
                       ;; Conforms to the generic "select-param"
                       ;; non-terminal syntax defined in [RFC4466].

condstore-param     = "CONDSTORE"
```

```abnf
select-param        =/  "QRESYNC" SP "(" uidvalidity SP
                    mod-sequence-value [SP known-uids]
                    [SP seq-match-data] ")"
                    ;; Conforms to the generic select-param
                    ;; syntax defined in [RFC4466].

uidvalidity         =  nz-number

known-uids          =  sequence-set
                    ;; Sequence of UIDs; "*" is not allowed.

seq-match-data      =  "(" known-sequence-set SP known-uid-set ")"

known-sequence-set  =  sequence-set
                    ;; Set of message numbers corresponding to
                    ;; the UIDs in known-uid-set, in ascending order.
                    ;; * is not allowed.

known-uid-set       =  sequence-set
                    ;; Set of UIDs corresponding to the messages in
                    ;; known-sequence-set, in ascending order.
                    ;; * is not allowed.
```

* [x] Fetch Attribute

```abnf
fetch-att           =/ fetch-mod-sequence
                       ;; Modifies original IMAP4 fetch-att.

fetch-mod-sequence  = "MODSEQ"

msg-att-dynamic     =/ fetch-mod-resp

fetch-mod-resp      = "MODSEQ" SP "(" permsg-modsequence ")"

permsg-modsequence  = mod-sequence-value
                       ;; Per-message mod-sequence.
```

* [x] Search

```abnf
search-key          =/ search-modsequence
                       ;; Modifies original IMAP4 search-key.
                       ;;
                       ;; This change applies to all commands
                       ;; referencing this non-terminal -- in
                       ;; particular, SEARCH, SORT, and THREAD.

search-modsequence  = "MODSEQ" [search-modseq-ext] SP
                      mod-sequence-valzer

search-modseq-ext   = SP entry-name SP entry-type-req

entry-name          = entry-flag-name

entry-flag-name     = DQUOTE "/flags/" attr-flag DQUOTE
                       ;; Each system or user-defined flag <flag>
                       ;; is mapped to "/flags/<flag>".
                       ;;
                       ;; <entry-flag-name> follows the escape rules
                       ;; used by "quoted" string as described in
                       ;; Section 4.3 of [RFC3501]; e.g., for the
                       ;; flag \Seen, the corresponding <entry-name>
                       ;; is "/flags/\\seen", and for the flag
                       ;; $MDNSent, the corresponding <entry-name>
                       ;; is "/flags/$mdnsent".

attr-flag           = "\\Answered" / "\\Flagged" / "\\Deleted" /
                      "\\Seen" / "\\Draft" / attr-flag-keyword /
                      attr-flag-extension
                       ;; Does not include "\\Recent".

attr-flag-keyword   = atom

attr-flag-extension = "\\" atom
                       ;; Future expansion.  Client implementations
                       ;; MUST accept flag-extension flags.  Server
                       ;; implementations MUST NOT generate
                       ;; flag-extension flags, except as defined by
                       ;; future standards or Standards Track
                       ;; revisions of [RFC3501].

entry-type-req      = entry-type-resp / "all"
                       ;; Perform SEARCH operation on a private
                       ;; metadata item, shared metadata item,
                       ;; or both.

entry-type-resp     = "priv" / "shared"
                       ;; Metadata item type.
```

* [x] Search / Sort

```abnf
search-sort-mod-seq = "(" "MODSEQ" SP mod-sequence-value ")"
```

```abnf
mailbox-data        =/ "SEARCH" [1*(SP nz-number) SP
                       search-sort-mod-seq]
```

```abnf
sort-data           = "SORT" [1*(SP nz-number) SP
                       search-sort-mod-seq]
                       ; Updates the SORT response from RFC 5256.
```

* [x] Vanished

```abnf
message-data        =/ expunged-resp

expunged-resp       =  "VANISHED" [SP "(EARLIER)"] SP known-uids
```

---

- [X] CONDSTORE activation
   - [X] **ENABLE COMMAND:** CONDSTORE (already added by you some times ago)
- [x] Response
   - [X] **SELECT/EXAMINE COMMAND:** HIGHESTMODSEQ Status Code *(RFC g. add.)*
   - [X] **SELECT/EXAMINE COMMAND:** NOMODSEQ Status Code *(RFC g. add.)*
   - [x] **STATUS COMMAND** HIGHESTMODSEQ Response parameter to the STATUS Response *(RFC h. add.)* 
   - [x] **FETCH COMMAND** MODSEQ data item *(RFC c. add)*
   - [X] **STORE COMMAND** MODIFIED STATUS RESPONSE CODE *(RFC b. add.)*
   - [x] **SEARCH COMMAND** Extend search response syntax *(RFC f. add.)*
-  [x] Modifiers
   - [x] **SELECT/EXAMINE**: CONDSTORE MODIFIER *(RFC h. add.)*
   - [x] **FETCH COMMAND**: CHANGEDSINCE modifier *(RFC d. add.)*
   - [x] **STORE COMMAND**: UNCHANGEDSINCE modifier *(RFC a. add.)*
- [x] Query
   - [x] **FETCH COMMAND**: MODSEQ data item name *(RFC c. add.)*
   - [x] **SEARCH COMMAND**: MODSEQ *(RFC e. add.)*