LOGIN to HISTORY

Dear @duesee,

The 31 August 2006, PLAIN has replaced LOGIN, it is time to remove.

31 August 2006: RFC4616: The PLAIN Simple Authentication and Security Layer (SASL) Mechanism:
- https://datatracker.ietf.org/doc/html/rfc4616

There are now:
- July 2010: RFC5802: Salted Challenge Response Authentication Mechanism (SCRAM): SASL and GSS-API Mechanisms: https://tools.ietf.org/html/rfc5802 (SCRAM-SHA-1 and SCRAM-SHA-1-PLUS)
- July 2010: RFC5803: Lightweight Directory Access Protocol (LDAP) Schema for Storing Salted: Challenge Response Authentication Mechanism (SCRAM) Secrets: https://tools.ietf.org/html/rfc5803
- November 2015: RFC7677: SCRAM-SHA-256 and SCRAM-SHA-256-PLUS: Simple Authentication and Security Layer (SASL) Mechanisms: https://tools.ietf.org/html/rfc7677

Soon:
- SCRAM-SHA-512(-PLUS): https://tools.ietf.org/html/draft-melnikov-scram-sha-512
- SCRAM-SHA3-512(-PLUS): https://tools.ietf.org/html/draft-melnikov-scram-sha3-512

Linked to:
- https://github.com/duesee/imap-codec/issues/404

Hey @Neustradamus! Thank you very much for filing these issues and for the useful resources! I'm not entirely sure how to "resolve" the issues, though. I think `imap-codec` can encode all of them -- even though they are bad -- and `imap-flow` will happily never use them. I could feature-gate LOGIN but feel that I don't want to maintain the feature-flag. Removing would be a (breaking) alterntive... 

Do you have any insights on how widespread LOGIN still is? Internet-Scans, etc.? i heard rumors that some large providers still require it but some quick tests didn't confirm this.

I'll close this as I believe this should be handled by an upper layer. Thanks, @Neustradamus!